@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .fullwindow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden; 
  }
}

@layer {
  * {
    scrollbar-width: auto !important;
    scrollbar-color: hsl(var(--bc)) hsl(var(--b1)) !important;
  }

  ::-webkit-scrollbar {
    width: 4px !important;
    cursor: grab !important;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--b1) / var(--tw-bg-opacity)) !important;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--bc)) !important;
    border-radius: 6px !important;
    border: 4px hsl(var(--bc)) solid !important;
    background-clip: padding-box !important;
  }
}

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: local(Comfortaa), url("../fonts/comfortaa.woff2");
  }

  @font-face {
    font-family: "Fira Mono";
    src: local(Fira Mono), url("../fonts/fira.woff2");
  }

  @font-face {
    font-family: "Poppins";
    src: local(Poppins), url("../fonts/poppins.woff2");
  }

  @font-face {
    font-family: "Open Sans";
    src: local(Open Sans), url("../fonts/opensans.woff2");
  }

  @font-face {
    font-family: "Noto Color Emoji";
    src: local(Noto Color Emoji), url("https://fonts.gstatic.com/s/notocoloremoji/v1/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXw.0.woff2");
  }
}